---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
import TextSection from '../components/TextSection.astro';
---

<Layout title='このサイトについて'>
    <PageHeader title="このサイトについて" />
    <div class="container">
        <TextSection title='当サイトの目的'>
            当サイトは原因は自分にある。の楽曲における歌割りを個人がまとめた<span class="color-text">非公式</span>のファンサイトです。観測者の皆様が楽曲の歌割りを把握される際の負担の軽減を主な目的としております。
            ライブ中のコールや８の字ペンラ回しを強要する意図はございません。
        </TextSection>
        <TextSection title='情報源について'>
            ライブ映像・音源・メディア記事・SNS等の情報を元にサイトを作成しております。
            ゲンジブ観測所内のコンテンツ等、有料でのみ入手できる情報は掲載しておりません。
        </TextSection>
        <TextSection title='権利について'>
            楽曲・MVなどの著作権は権利者に帰属いたします。また、当サイトはJASRACの許諾を得て歌詞を掲載しております。
        </TextSection>
        <TextSection title='歌割りの判断基準について'>
            各楽曲の歌割りは実際にライブで歌唱しているか、観測者がペンライトを振っているか、等を基準とし、運営者が独自に判断したものです。誤りを含む恐れがございます。
        </TextSection>
        <TextSection title='運営者について'>
            原因は自分にある。のファンが個人で運営しております。
        </TextSection>
    </div>
</Layout>