---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
---

<Layout title='お問い合わせ'>
    <PageHeader title="お問い合わせ" />
    <h1 class="container">Astro</h1>
</Layout>