---
import Layout from '../layouts/Layout.astro';
import MainVisual from '../components/MainVisual.astro';
import NewsItem from '../components/NewsItem.astro';
---

<Layout>
    <MainVisual />
    <h1 class="container">Astro</h1>
    <ul class="container">
        <NewsItem date="2026.07.07" text="テスト"></NewsItem>
    </ul>
</Layout>
