---
import Layout from '../layouts/Layout.astro';
import MainVisual from '../components/MainVisual.astro';
import NewsSection from '../components/NewsSection.astro';
---

<Layout>
    <MainVisual />
    <div class="container">
        <NewsSection />
    </div>
</Layout>
