---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
---

<Layout title='楽曲を探す'>
    <PageHeader title="楽曲を探す" />
    <h1 class="container">Astro</h1>
</Layout>