---
import Layout from '../../layouts/Layout.astro';
import PageHeader from '../../components/PageHeader.astro';
---

<Layout title='更新情報'>
    <PageHeader title="更新情報" />
    <h1 class="container">Astro</h1>
</Layout>