---

---

<h2 class="section-title text-md">
    <slot />
</h2>

<style>
    .section-title {
        display: inline-block;
        color: var(--color-text);
        padding: 0 5px 5px 5px;
        border-bottom: 2px solid var(--color-primary);
        margin: 0;
    }
</style>